

h2 Add Category

form(action='/addcategory', method='post')
    | name :
    input(type='text',name='name')
    br
    | Description:
    input(type='text',name='description')
    br
    | active :
    input(type='text',name='active')
    br
    input(type='submit',value='submit')
    br
    hr
    hr


