

h2 login

form(action='/adminLogin', method='post')
    | email :
    input(type='text',name='email')
    br
    |password:
    input(type='text',name='password')
    br
    input(type='submit',value='submit')
    br
    hr
    hr


