h1 sign_up
form(action='/sign_up', method='post')
    | name :
    input(type='text',name='name')
    br
    | id :
    input(type='text',name='id')
    br
    | password :
    input(type='text',name='password')
    br
    | contact :
    input(type='text',name='contact')
    br
    | address :
    input(type='text',name='address')
    br
    | city :
    input(type='text',name='city')
    br
    input(type='submit',value='submit')
    br
    hr
    hr


h2 login
form(action='/login', method='post')
    | email :
    input(type='text',name='email')
    br
    |password:
    input(type='text',name='password')
    br
    input(type='submit',value='submit')
    br
    hr
    hr


