

h2 Add Product only by verified seller.

form(action='/addProduct', method='post')
    | name :
    input(type='text',name='name')
    br
    | quantity :
    input(type='text',name='quantity')
    br
    | discount :
    input(type='text',name='discount')
    br
    | category Id :
    input(type='text',name='categoryId')
    br
    | available :
    input(type='text',name='available')
    br
    input(type='submit',value='submit')
    br
    hr
    hr


